.tabs{
    font-family: 'Proxima Nova', Helvetica, Roboto, Arial, sans-serif;
    word-spacing: 10px;
    &-title{
        display: inline-block;
        float: none;
        a{
            outline: none;
        }
    }
    &-content{
        position: relative;
        min-height: 618px;
        overflow: hidden;
        border: 0;
        @include breakpoint(medium down){
            min-height: auto;
        }
    }
    &-panel{
        margin-top: 50px;
        transition: 300ms;
        opacity: 0;
        visibility: hidden;
        display: block;
        @include breakpoint(medium down){
            display: none;
            margin-top: 25px;
        }
        &.is_active{
            opacity: 1;
            visibility: visible;
            @include breakpoint(medium down){
                display: block;
            }
        }
        &#albums{
            margin-top: 25px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 2;
            @include breakpoint(medium down){
                position: static;
            }
        }
        &#songs{
            padding: 9px 0;
            @include breakpoint(small down){
                padding: 3px 0;
            }
        }
    }
}