.concert{
    &_header{
        font-size: 14px;
    }
    &_tours{
        margin-top: 25px;
    }
    &_tour{
        max-width: 400px;
        background-color: rgba($secondary-color, 0.2);
        padding: 14px 20px 16px 17px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Proxima Nova', Helvetica, Roboto, Arial, sans-serif;
        @include breakpoint(medium down){
            max-width: 630px;
            padding: 16px 35px;
        }
        @include breakpoint(small down){
            padding: 11px 15px 11px 30px;
        }
        & + &{
            margin-top: 25px;
            @include breakpoint(medium down){
                margin-top: 15px;
            }
            @include breakpoint(small down){
                margin-top: 10px;
            }
        }
        &_city{
            color: $primary-color;
            margin-bottom: 5px;
            @include breakpoint(small down){
                margin: 0;
            }
        }
        &_date{
            font-size: 12px;
            color: rgba($white, 0.4);
        }
    }
}