.footer{
    margin-top: auto;
    &_copy{
        transition: 300ms;
        padding: 20px 0 35px;
        text-align: center;
        color: rgba($white, 0.5);
        font-size: 12px;
        letter-spacing: 0.75px;
    }
}