.header{
    position: relative;
    padding-top: 24px;
    height: 74px;
    display: flex;
    // align-items: center;
    justify-content: center;
    &_logo{
        position: absolute;
        left: 4px;
        // top: 50%;
        // transform: translateY(-50%);
        bottom: 0;
    }
    &_menu{
        font-size: 16px;
        letter-spacing: 1px;
        li + li{
            margin-left: 36px;
        }
        a{
            line-height: 1.3;
        }
    }
}