.main{
    &_container{
        width: 100%;
        align-items: center;
        // &::after{
        //     position: absolute;
        //     content: '';
        //     width: 100%;   
        //     left: 0;
        //     top: 50%;
        //     border-bottom: 1px solid red;
        // }
    }
    &_content{
        transform: translateY(calc(-50% - 47px));
    }
    &_header{
        position: relative;
        margin-top: 23px;
        padding-bottom: 23px;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 140px;
            border-bottom: 3px solid $primary-color;
        }
    }
    &_photo{
        // align-self: flex-end;
        z-index: -1;
        user-select: none;
    }
}