.photo{
    @include breakpoint(medium only){
        + .social{
            padding-bottom: 0;
        }
    }
    &_inner{
        display: flex;
        align-items: center;
    }
    &_container{
        width: 100%;
    }
}