header.header
    .grid-container.header_inner
        a.header_logo(href="/")
            img(src="./assets/img/logo.svg", alt="Lord")
        +menu()(class="header_menu")
        button.header_hamb(data-open="menu")