mixin menu()
    -
        const menu = [
            {
                title: 'home',
                link: '/'
            },
            {
                title: 'music',
                link: 'music.html'
            },
            {
                title: 'video',
                link: 'video.html'
            },
            {
                title: 'photo',
                link: 'photo.html'
            },
            {
                title: 'concert',
                link: 'concert.html'
            },
            {
                title: 'contact',
                link: 'contact.html'
            }
        ]
    ul.menu&attributes(attributes)
        each item in menu
            li(class=(page==item.title) ? 'active' : '')
                a(href=item.link)
                    =item.title