#menu.off-canvas.position-right.header_menu_mobile(aria-hidden="true")
    +menu('vertical')(class="vertical menu--mobile")
    button.close-button(aria-label='Закрыть', type='button', data-close)
        span(aria-hidden='true') ×

.js-off-canvas-overlay.is-overlay-fixed.is-closable
