-
    const socials = [
        {
            name: 'apple',
            link: '#'
        },
        {
            name: 'instagram',
            link: '#'
        },
        {
            name: 'facebook',
            link: '#'
        },
        {
            name: 'vk',
            link: '#'
        },
    ]

mixin social(data, size = 20)
    ul.menu.simple.social&attributes(attributes)
        each item in data
            li
                a(href=item.link target="_blank")
                    +icon(item.name, [size, size], '#fecc74')
