block const
-
    const title  = `${name ?  `${name} - ` : ''}Lord`;
    const descr  = 'Description';
    const domain = 'lord.salex.pro'

//- Components
include components/_icons
include components/_menu
include components/_social

doctype html
html(lang="ru")
    include components/_head
    body
        main.off-canvas-content.wrap(data-off-canvas-content)
            include sections/_header
            block content
            include sections/_footer
            //- include components/_popup
        //- include components/_offcanvas
        if page != 'contact'
            +social(socials)(class="vertical")
        block js
            script(src="./js/app.min.js")
        script(src="./js/svg4everybody.min.js")