extends ../_layout

block const
    - const page = 'music'
    - const name = 'Music'


block content
    include ../sections/_music
    include ../components/_player

block js
    script(src="./js/music.min.js")