extends ../_layout

block const
    - const page = 'music'


block content
    section.grid-container.container.music
        .grid-x.grid-margin-x.large-up-2
            .cell.music_photo
                img(src="../assets/img/photos/music.jpg" srcset="../assets/img/photos/music@2x.jpg 2x, ../assets/img/photos/music.jpg 1x" alt="Lord")
            .cell
                ul#music.tabs(data-tabs)
                    li.tabs-title
                        a(data-tabs-target='albums', href='#albums') Альбомы
                    li
                        | / 
                    li.tabs-title.is-active
                        a(href='#songs', aria-selected='true') Песни
                .tabs-content(data-tabs-content='example-tabs')
                    #panel1.tabs-panel.is-active
                        p
                            | Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.
                    #panel2.tabs-panel
                        p
                            | Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.
